# Server
NODE_ENV=development
PORT=3000

# Database (Prisma)
DATABASE_URL="prisma+postgres://localhost:51213/?api_key=..."

# JWT
JWT_SECRET=provide_a_secure_secret_here
JWT_REFRESH_SECRET=provide_another_secure_secret_here
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Logging
LOG_LEVEL=debug
